<div class="col-sm d-flex justify-content-center text-center">
    <h4><em><a href="/f/<%=filmData[i].path%>" class="link link-success">
                <%=`${filmData[i].title} (${filmData[i].year})`%>
            </a></em></h4>
</div>