<%- include('partials/head', { pageTitle }) %>
<%- include('partials/navbar', { secPic: secPics[0], activeArr: ["", "", "active", ""] }) %>
<div class="container mb-5 mt-3">
    <div class="row pb-3 border-bottom">
        <div class="col">
            <h1 class="display-2 fw-bold text-center">
                <%= pageTitle %>
            </h1>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <h2>Credits</h2>
        </div>
    </div>
    <form action="/add/film/request" method="POST">
        <div class="row mt-3 d-flex justify-content-around">
            <div class="col-sm-4">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingTitle" placeholder="Title" name="title">
                    <label for="floatingTitle">Title</label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingYear" placeholder="Year" name="year">
                    <label for="floatingYear">Year</label>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-end">
                <button class="btn btn-secondary">Submit</button>
            </div>
        </div>
    </form>